<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">

  <%- include('includes/flash') %>

  <div class="d-flex justify-content-between">
    <h2><%= title %></h2>
    <% if(isVisitorOwner) { %>
    <span class="pt-2">
      <a href="/post/<%= id %>/edit" class="text-primary mr-2" data-toggle="tooltip" data-placement="top"
        title="Edit"><i class="fas fa-edit"></i></a>
      <form class="delete-post-form d-inline" action="/post/<%= id %>/delete" method="POST">
        <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i
            class="fas fa-trash"></i></button>
      </form>
    </span>
    <% }%>

  </div>

  <p class="text-muted small mb-4">
    <a href="/profile/<%= username %>"><img class="avatar-tiny" src="<%= avatar %>"></a>
    Posted by <a href="/profile/<%= username %>"><%= username %></a> on
    <%= createdDate.getMonth() + 1 %>/<%= createdDate.getDate() %>/<%= createdDate.getFullYear() %></p>

  <div class="body-content">
    <%- filterUserHTML(body) %>
  </div>

</div>

<%- include('includes/footer') %>